<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {},
        },
      };
    </script>
  </head>
  <body class="w-full h-screen">
    <div id="reqPar" data-topic="{{topic}}" data-count="{{count}}"></div>
    <div id="loading" class="flex w-full items-center justify-center">
      <img
        class="flex items-center justify-center"
        src="../static/loading.gif"
        alt="Loading..."
      />
    </div>
    <div id="table" class="flex w-11/12 h-[1000px] overflow-y-auto"></div>
  </body>
  <script type="text/javascript" src="../static/text.js"></script>
</html>
